.testimonials{
    padding-top: 1.45rem;
    &__container{
        padding-bottom: 2.4rem;
    }
    &__data{
        display: grid;
        margin-bottom: 2.6rem;
    }
    &__comments,
    &__comment{
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        column-gap: 0.8rem;
    }
    &__comment{
        column-gap: 0.85rem;
        align-items: initial;
        transform: translateY(-6px);
    }
    &__desc{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    &__clients{
        transform: translateY(5px);
    }
   
    &__description{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 2rem;
    }

    &__text{
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    &__images{
        gap: 0px;
        align-items: center;
        grid-template-columns: repeat(2, max-content);
        margin: 0 auto;
        justify-content: center;
    }
    &__communications,
    &__leader,
    &__fider,
    &__joinh-deere,
    &__banana-boat,
    &__fujifilm{
        // width: 158px;
        background: radial-gradient($grayf0 0%, $grayf0 10%, white 15%, white 45%, $grayf0 75%, $grayf0 100%);
        height: 100px;
        display: flex;
        align-items: center;
        border: 1px solid #dfe1e5;
    }
    &__communications img,
    &__leader img,
    &__fider img,
    &__joinh-deere img,
    &__banana-boat img,
    &__fujifilm img{
        margin: 0 auto;
    }
    &__communications img{
        width: 100px;
        transform: translate(4px, 3px);
    }
    &__joinh-deere img{
        width: 109px;
    }
    &__fujifilm img{
        width: 147px;
    }

    &__download{
        background-color: #e8fcfe;
        padding: 1.95rem 2rem 1.95rem 1.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 5rem;
        border: 1px solid $green81;
        row-gap: 1.5rem;
    }
    &__des{
        font-size: 16px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        letter-spacing: -0.1px;
    }
    &__button{
        background-color: $green71;
        width: 236px;
        padding: 1.8rem 1.1rem 1.8rem 1.2rem;
        display: flex;
        align-items: center;
        height: 25px;
        border-radius: 8px;
        column-gap: 1.3rem;
        font-size: 18px;
        font-weight: bold;
        border-top: 1px solid $green2a;
        border-right: 1px solid $green2a;
        border-left: 1px solid $green2a;
        img{
            transform: translateY(-2px);
        }
    }

    @media screen and (max-width: 320px) {
        &__content {
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        &__description {
            margin-bottom: 1rem;
            br{
                display: none;
            }
        }
        &__des{
            br{
                display: none;
            }
        }
        &__content {
            margin-bottom: 2rem;
          
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (min-width: 320px) {
        &__content {
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin: 0 auto 2.5rem;
        }
        &__description {
            margin-bottom: 1rem;
            br{
                display: none;
            }
        }
        &__des{
            br{
                display: none;
            }
        }
        &__communications,
        &__leader,
        &__fider,
        &__joinh-deere,
        &__banana-boat,
        &__fujifilm{
            width: 100px;
        }
        
        &__communications img,
        &__leader img,
        &__fider img,
        &__joinh-deere img,
        &__banana-boat img,
        &__fujifilm img{
            width: 70%;
        }
        &__comment {
            justify-content: center;
        }
    }

    @media screen and (min-width: 575px) {
        &__images{
            grid-template-columns: repeat(3, max-content);
        }
        &__communications,
        &__leader,
        &__fider,
        &__joinh-deere,
        &__banana-boat,
        &__fujifilm{
            width: 158px;
        }
        &__comment{
            justify-content: center;
        }
    }
    @media screen and (min-width: 768px) {
        &__data{
            column-gap: 3.5rem;
            grid-template-columns: 350px 300px;
            justify-content: center;
        }
        &__images{
            grid-template-columns: repeat(2, max-content);
            justify-content: initial;

        }
        &__comments {
            margin-bottom: 0.5rem;
        }
        &__comment {
            justify-content: initial;
        }
        &__content {
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin: 0px;
        }
        &__description {
            line-height: 1.7;
            letter-spacing: -0.1px;
           
        }
        &__image{
            transform: translateY(-2px);
        }
       
        &__text {
            letter-spacing: -0.1px;
            transform: translateY(3px);
        }
        &__download{
            flex-direction: row;
        }
        &__des {
            width: 450px;
        }
        &__communications img,
        &__leader img,
        &__fider img,
        &__joinh-deere img,
        &__banana-boat img,
        &__fujifilm img{
            width: 55%;
        }
       
    }
    @media screen and (min-width: 920px) {
        &__desc{
            width: 500px;
        }
        &__data{
            grid-template-columns: 450px 400px;
        }
        &__communications,
        &__leader,
        &__fider,
        &__joinh-deere,
        &__banana-boat,
        &__fujifilm{
            width: 120px;
        }
        &__images {
            grid-template-columns: repeat(3, max-content);

        }
       
    }
    @media screen and (min-width: 950px) {
        &__images{
            justify-content: initial;
        }
    }
    @media screen and (min-width: 992px) {
        padding-top: 1.5rem;
        &__communications, 
        &__leader, 
        &__fider, 
        &__joinh-deere, 
        &__banana-boat, 
        &__fujifilm {
            width: 135px;
            height: 99px;
        }
      
        &__download{
            column-gap: 4.9rem;
            padding: 1.8rem 2.05rem 1.9rem 1.4rem
        }
        &__des{
            width: 75%;
        }
        
        &__content{
            margin: 0px;
            transform: translateY(-12px);
        }
       
        &__comments{
            margin-bottom: 0.75rem;
            transform: translateY(3px);
        }
        &__button{
            letter-spacing: -0.1px;
        }

    }
    @media screen and (min-width: 1000px) {
        &__text{
            transform: translateY(9px);
        }
        &__des{
            width: unset;
            br{
                display: block;
            }
        }
        &__data{
            column-gap: 0px;
            justify-content: initial;
            column-gap: 4rem;
        }
        &__communications img,
        &__leader img,
        &__fider img,
        &__joinh-deere img,
        &__banana-boat img,
        &__fujifilm img{
            width: unset;
        }
        &__communications,
        &__leader,
        &__fider,
        &__joinh-deere,
        &__banana-boat,
        &__fujifilm{
            width: 158px;
        }
        &__description{
            br{
                display: block;
            }
        }
    }
    
}