$graye8: #e8ebf1;
$black: #000;
$black36: #363636;
$green81: #81e4ed;
$green2a: #2aacc8;
$green71: #71a3a7;
$graye8: #e8ebf1;
$graydf: #dfe1e5;
$grayf0: #f0f2f6;
$green7b: #7be0ea;

$header-height: 3.5rem;